/* Resetting default margins and paddings */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* Ensuring block-level elements take up the full width */
body,
div,
header,
footer,
section,
article,
nav,
aside,
main {
    display: block;
}

:root {
    --scroll: 0;
}

main {
    margin: auto;
    overflow-x: clip
}

.full-screen {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}

.full-screen-4x {
    height: 400vh;
    width: 100%;
}

section.first {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: max(calc(1 - var(--scroll) * 0.01), 0.2);
}

section.first .bg-pic-wrapper {
    transform: scale(1.23);
    opacity: 1;
    z-index: 1;
}

section.first .signature-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    bottom: calc(env(safe-area-inset-bottom) + 10px);
    right: 30px;
}

section.first .signature-wrapper .signature-pic-wrapper {
    margin-left: auto;
    width: 40vw;
    opacity: 0.6;
}

section.first .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 30px;
    z-index: 100;
    opacity: 0.7;
}

section.first .title h1 {
    width: 100%;
    font-size: 5rem;
}

section.first .title text {
    font-size: 3rem;
    text-align: center;
}

section.second {
    position: relative;
    display: flex;
    justify-content: center;
}

section.second .envelope {
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: #ff9494;
    width: 360px;
    height: 225px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, .3));
    top: 30svh;
    transform: scale(min(calc(var(--scroll) * 0.02), 0.95)) rotate(min(calc(var(--scroll) * 5.7deg), 360deg));
    opacity: calc(var(--scroll) * 0.02);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 3;
}

section.second .envelope .front-flap {
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 150px solid #ff9494;
    transform-origin: top;
    z-index: 10;
    transform: rotateX(min(calc(max((var(--scroll) - 62), 0) * 50deg), 180deg));
}

section.second .envelope .front-flap.opened {
    z-index: 4;
}

section.second .envelope .front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
    border-left: 180px solid #fbd2d2;
    border-right: 180px solid #fbd2d2;
    border-bottom: 135px solid #fbbbbb;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9;
}

section.second .envelope .letter-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    background-color: transparent;
    overflow: hidden;
}

section.second .envelope .letter-wrapper img {
    border-radius: 6px;
}

section.second .envelope .letter-wrapper.card1 {
    z-index: 7;
    top: calc(max((var(--scroll) - 66), 0) * -3px);
}

section.second .envelope .letter-wrapper.card2 {
    z-index: 6;
    top: calc(max((var(--scroll) - 150), 0) * -3px);
}

section.second .envelope .letter-wrapper.card3 {
    z-index: 5;
    top: calc(max((var(--scroll) - 234), 0) * -3px);
}


section.second .envelope .letter-wrapper.card1.takeout-to-center {
    top: -55%;
    width: 130vw;
    height: auto;
    z-index: 50;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

section.second .envelope .letter-wrapper.card1.takeout-to-center.takeout-to-below {
    top: 30%;
    width: 90%;
    height: 100%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

section.second .envelope .letter-wrapper.card2.takeout-to-center {
    z-index: 51;
    top: -55%;
    width: 130vw;
    height: auto;
    transition-timing-function: linear;
    transition: width 1s, height 1s, top 1s;
}

section.second .envelope .letter-wrapper.card2.takeout-to-center.takeout-to-below {
    top: 50%;
    width: 90%;
    height: 100%;
    transition: width 1s, height 1s, top 1s;
    transition-timing-function: linear;
}

section.second .envelope .letter-wrapper.card3.takeout-to-center {
    z-index: 52;
    top: -55%;
    width: 130vw;
    height: auto;
    transition-timing-function: linear;
    transition: width 1s, height 1s, top 1s;
}

section.second .envelope .letter-wrapper.card3.takeout-to-center.takeout-to-below {
    top: 70%;
    width: 90%;
    height: 100%;
    transition: width 1s, height 1s, top 1s;
    transition-timing-function: linear;
}

section.third {
    position: relative;
    background-color: white;
    padding: 20px 0px 20px 0px;
    z-index: 20;
}

section.third .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.third .hero .hero-pic {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

section.third .hero .hero-pic .avatar-wrapper {
    width: 50%;
    overflow: hidden;
    position: relative;
}

section.third .hero .hero-pic .avatar-wrapper .bride {
    position: absolute;
    top: 23px;
    left: -15px;
}

section.third .hero .hero-name {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

section.third .hero .hero-name .groom-name-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 5px;
}

section.third .hero .hero-name .groom-name-wrapper h1 {
    letter-spacing: 0.8rem;
    text-align: right;
    color: rgba(40, 39, 39, 0.631);
}

section.third .hero .hero-name .groom-name-wrapper p {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

section.third .hero .hero-name .bride-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 5px;
}

section.third .hero .hero-name .bride-name-wrapper h1 {
    color: rgba(40, 39, 39, 0.631);
    letter-spacing: 0.8rem;
    text-align: center;
}

section.third .hero .hero-name .bride-name-wrapper p {
    font-size: 2rem;
    letter-spacing: 0.8rem;
    font-weight: bolder;
    text-align: center;
}

section.forth {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: 20;
    padding: 20px 15px 20px 15px;
}

section.forth .countdown {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}

section.fifth {
    position: relative;
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
    filter: unset;
    gap: 15px;
}

section.fifth h1 {
    text-align: left;
    margin-bottom: 10px;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 8;
}

.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.heart:before,
.heart:after {
    position: absolute;
    content: '';
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #d00000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart {
    opacity: 0;
    animation: none;
}

.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
}

.a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
}

.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        top: 0;
    }

    100% {
        top: -600px;
    }
}

@keyframes sideSway {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 320px) {
    section.second .envelope {
        transform: scale(min(calc(var(--scroll) * 0.02), 0.89)) rotate(min(calc(var(--scroll) * 5.7deg), 360deg));
    }
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 768px;
    }

    section.first .title h1 {
        width: 100%;
        font-size: 7rem;
    }

    section.first .title text {
        font-size: 4rem;
        text-align: center;
    }

    section.first .signature-wrapper {
        position: absolute;
        bottom: calc(env(safe-area-inset-bottom) + 10px);
        right: 20px;
    }

    section.first .signature-wrapper .signature-pic-wrapper {
        margin-left: auto;
        width: 20vw;
        opacity: 0.6;
    }

    section.third .hero .hero-pic .avatar-wrapper .bride {
        position: absolute;
        top: 42px;
        left: -35px;
    }

    section.forth .countdown {
        font-size: 3rem;
    }
}

/* ------- fonts ------- */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}